@media (max-width:768px){
  body {
    width: 100%;
  }
}

body {
  background-color: #eee;
  font-family: Arial;
  font-size: 16px;
  line-height: 180%;
  width: 50%;
  margin: 0 auto;
}

.container {
  margin-top: 40px;
  padding: 1rem;
  border-radius: 10px;
  background-color: white;
  color: steelblue;
}

.output {
  margin-top: 20px;
}

input[type="text"] {
  width: 60px;
  margin: 0 10px;
}
