body {
  background-color: #eee;
  font-family: Arial;
  font-size: 20px;
  line-height: 200%;
  width: 350px;
  margin: 0 auto;
}

.container {
  margin-top: 50px;
}

.row {
  flex: 1;
  padding: 1rem;
  border-radius: 10px;
  background-color: white;
  margin-bottom: 10px;
  color: steelblue;
}

.output {
  font-weight: 700;
}
